.cont_loader{
    background: url(https://media1.tenor.com/images/7e2aeb1567e91bfc2404cecca6aceecd/tenor.gif?itemid=14748344);
    width: 100vw;
    height: 100vh;
    position: relative;
    right: 10px;
}